* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgb(51, 48, 48);
}
.grid-item {
  padding: 0px;
  font-size: 21px;
  text-align: center;
  margin: 10px;
  color: white;
  padding-top: 0.3em;
}
#logo img {
  height: 2.5em;
}
#votee img {
  height: 57px;
  width: 4em;
}
#hindi,
#nation {
  padding-top: 0.3em;
}
/* header end */

section h2 {
  color: rgb(153, 39, 39);
  text-align: center;
}
.headbox {
  border: 2px solid #d5d7e5ba;
  margin: 3px auto 16px;
  width: 82%;
  padding: 13px 18px;
  border-radius: 3px;
}
.headbox .agroup {
  background: rgb(69 64 64 / 62%);
  width: 5rem;
  height: 1.6rem;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  color: white;
}

.headbox #hind {
  width: 4rem;
}
.headbox .lan {
  float: right;
  margin-right: 1rem;
}
form {
  border: 2px solid rgb(36, 33, 33);
  margin: 10px auto;
  padding: 18px;
  padding-bottom: 18px;
  background-color: #cfc5d773;
  width: 82%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.box1,
.box2 {
  height: 56px;
  color: #000000;
  margin: 0px 0px 38px 0px;
  padding: 23px;
  font-size: 20px;
  font-family: serif;
}
.box1 {
  margin-bottom: 0px;
  line-height: 33px;
  background-color: rgb(159 117 200 / 53%);
  font-weight: bold;
}
.box2 {
  margin-top: 0px;
  background: rgb(215 139 139 / 60%);
  height: auto;
}

sup {
  color: red;
  font-size: 10px;
  font-weight: bolder;
}
sup#headstar {
  font-size: 20px;
  font-weight: 900;
}

.box3 {
  background: rgb(215 139 139 / 60%);
  color: #000000;
  margin: 30px 0px 30px 0px;
  font-size: 0.9rem;
  padding: 0.8rem;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: rgba(27, 27, 27, 0.623);
  width: 60px;
  height: 28px;
  padding: 3px;
  font-size: small;
}
.butn {
  color: white;
  background: rgba(38, 133, 51, 0.842);
  border: none;
  width: 7rem;
  font-size: 1.3rem;
  border-radius: 5px;
  font-family: sans-serif;
  margin: 0.3rem;
  height: auto;
  padding: 0.3rem;
}
/* .b1 {
  margin-left: 43%;
} */
.rsum {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
select {
  background: rgb(69 64 64 / 62%);

  height: 1.4rem;
  font-size: 0.56rem;
  border-radius: 5px;
  border: none;
  color: white;
  padding-left: 8px;
 
}
form select {
  background: rgb(69 64 64 / 62%);
  width: 5rem;
  height: 1.5rem;
  font-size: 0.7rem;
  border-radius: 5px;
  border: none;
  color: white;
  margin-left: 0.3rem;
  padding-left: 1.1rem;
}
select:hover {
  background: rgba(0, 0, 0, 0.466);
  border: 3px solid #b6bad9ba;
}

a {
  margin-left: 1%;
}
a:hover {
  text-decoration: underline;
  color: blue;
}

.sect,
.sect2,
.div1,
.div2,
span,
.div3 {
  margin-left: 10%;
}

input#myFile {
  border: 2px solid lightgrey;
  margin-right: 11%;
  width: 29%;
}
input#locate {
  margin-right: 4%;
}

.sect2,
.div1 {
  line-height: 64px;
}

.div1 {
  margin-bottom: -18px;
}
.div2 {
  line-height: 30px;
}
input#lname,
input#start,
input#fname {
  border: 2px solid #cdcacadb;
  border-radius: 2.8px;
}
input#lname,
input#fname {
  margin-left: 5px;
  height: 20px;
  width: 17%;
  text-align: center;
}

select#sel {
  margin-right: 15%;
}
/* footer starts */
footer {
  height: 6em;
  background-color: black;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  color: aqua;
  align-items: center;
  display: flex;
}
footer p {
  padding: 1em;
}

/* footer ends */






@media screen and (max-width: 1024px) {
  form{
  width: auto;
  margin: 0;
  
}
.headbox{
  width: auto;
  margin: 0;
}
  .grid-item {
    padding: 0.1rem;
    font-size: 0.7rem;
    /* text-align: center; */
    margin: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo img {
    height: 2.7rem;
    padding-top: 0;
  }
  #votee img {
    height: 2.7rem;
    padding-top: 0px;
    width: 4.2rem;
  }

  .box1 {
    height: 4rem;
  }
  .box1,
  .box2 {
    font-size: 1rem;
  }
  section h2 {
    font-size: 1rem;
    padding: 1rem;
  }
  .butn {
    width: 4rem;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0.3rem;
  }
  .headbox .agroup {
    width: 9%;
    height: 1.4rem;
    font-size: 0.7rem;
  }
  form {
    font-size: 0.7rem;
  }
  input#lname, input#fname{
    font-size: .6rem;
  }
  button {
    padding: 0;
    width: 1.4rem;
}
}





@media screen and (max-width: 450px) {
  #logo img,
  #votee img {
    height: 2rem;
  }
  #votee img {
    width: 3rem;
  }
  .box1,
  .box2 {
    font-size: 0.9rem;
  }
  .grid-item {
    font-size: 0.5rem;
    margin: 0.4rem;
  }
  .sect,
  .sect2,
  .div1,
  .div2,
  span,
  .div3 {
    margin-left: 0%;
  }
  button {
    width: 1.8rem;
    height: auto;
  }
  input#lname,
  input#fname {
    margin-left: 0px;
    height: 1.3rem;
    width: 17%;
    font-size: 0.5rem;
    text-align: center;
  }
  .headbox .lan {
    float: right;
    margin-right: 0;
    font-size: 0.7rem;
  }
  .butn {
    width: 3rem;
    font-size: .6rem;   
  }
  .headbox #hind {
    width: 3.1rem;
}
form select {
 
  width: 2.6rem;
  height: 1.3rem;
  font-size: 0.45rem;
    margin-left: 0;
     padding-left: 0;
     margin-bottom: .8rem;
}
input#locate {
 margin-right: 0;
 width: 98%;
}
input#start{
  margin: 1rem;
}
input#myFile {
  width: 97%;
  margin: .1rem ;
  margin-bottom: 1rem;
}
}
